 .tCanvas{
    min-height: 25em;
    width: 100%;
  }
.table-scroll {
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  max-height: 550px;
}
.table-scroll table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  width:120%;
}
.table-wrap {
  position: relative;
}
.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  border: 1px solid #000;
  background: #fff;
  vertical-align: top;
}
.table-scroll thead th {
  background: #333;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  border: 1px solid #000;
}
.table-scroll thead th.frst {
  top:0;
}
/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #666;
  color: #fff;
  z-index:4;
  border: 1px solid #000;
}

.sltnav {
  background: #0d6efd !important;
  color: #fff !important;
  opacity: 1 !important;
} /* testing links*/
.nav-link:hover{
  background: #6c757d;
  color: #fff !important;
  opacity: 1;
} /* testing links*/

.table-scroll td:first-child,th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background: #ccc;
  border: 1px solid #000;
}
.table-scroll thead th:first-child,
.table-scroll tfoot th:first-child {
  z-index: 5;
  border: 1px solid #000;
}

.table-scroll tbody td.dcntr, .table-scroll thead th.dcntr{
  text-align: center;
  border: 1px solid #000;
}
.table-scroll tbody td.drght, .table-scroll thead th.drght{
  text-align: right;
  border: 1px solid #000;
}